<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pokemon3d.extranoobed.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Pokemon3D</name>

    <description>
        Pokemon3D is a BETA test created by Tomoyoshi Yamamoto for mobile devices.
    </description>

    <author href="http://scratch.mit.edu/users/extranoobed" email="tomoyoshi.usa@gmail.com">
        EXtraNooBeD
    </author>

</widget>
